<%- include("header") -%>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>  
    <div class="box">
        <% itemsToAdd.forEach(function(item) { %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= item._id %>">
                    <p> <%= item.name %> </p>
                </div>
            </form>
        <% }) %> 

        <form class="item" action="/" method="POST">
            <input type="text" name="task" placeholder="New Task">
            <button type="submit" name="list" value= <%= listTitle %>>+</button>
        </form>
    </div> 

<%- include("footer") -%>
